
{% extends 'authentication/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-8" >
        <h1 class="text-center">Welcome to Manzana</h1>
        <p class="text-center">We are an e-learning platform that offers a wide range of courses and learning resources.</p>
        
      </div>
      <div class="col-md-4">
        {% if user.is_authenticated %}
        <h3>Hello {{usermore.username }}, {{ usermore.first_name }} {{ usermore.last_name }}</h3>
        <h3>You are successfully logged in</h3>
        <button type="submit"><a href="/signout">SingOut</a></button>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}

