
{% extends 'authentication/base.html' %}
{% load static %}
{% block content %}
<script>
  function displayForm(){
      var form = document.getElementById('form');
      if(form.style.display == 'block'){
          form.style.display = 'none';
      } else {
          form.style.display = 'block';
      }
  }
</script>

<div class="container">
    <div class="row">
      <div class="col-md-8" >
        <h1 class="text-center">Welcome to Manzana</h1>
        <p class="text-center">We are an e-learning platform that offers a wide range of courses and learning resources.</p>
        {% if request.user.is_authenticated%}
            <a href="{% url 'favcategories' %}" role="button" class="btn btn-primary">Favorite Categories</a>
            <a href="{% url 'addcourse' %}" role="button" class="btn btn-primary">Add Course</a>
          {%endif%}
          <a href="{% url 'course' %}" role="button" class="btn btn-primary">Courses</a>
      </div>
      <div class="col-md-4">
      
      {% if request.user.is_authenticated %}
      <div class="user-image">
        <!--> <img src="user_pictures/Zdj_Portretowe.jpg" alt="Profile Picture"> <!-->

    </div>
        <p>Email: {{ request.user.email }}</p>
        <p>First name: {{ request.user.name }}</p>
        <p>Second name: {{ request.user.surname }}</p>
        <form action="{% url 'signout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Sign Out</button>
      </form>

      <button type="button" class="btn btn-primary" onclick="displayForm()">Edit Profile</button>
      
      <div id="form" style="display:none;">
      <form action="{% url 'user_profile_save' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="picture">Profile Picture</label>
            <input type="file" class="form-control-file" name="picture">
            <input type="hidden" name="user_id" value="{{ request.user.user_id }}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" maxlength="255" required value="{{request.session.user_data_extra.description}}">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
      {% endif %}
      
    
      </div>
    </div>
  </div>
{% endblock content %}

