{% extends 'authentication/base.html' %}

{% block content %}

<div class="container my-4">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-center">{{course.NAME}}</h1>
      <h3 class="text-center">{{course.DESCRIPTION}}</h3>
      <p class="text-center">Price: {{course.PRICE}}</p>
      <p class="text-center">Duration: {{course.DURATION}}</p>
      <p class="text-center">Category: {{category_name}}</p>
    </div>
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Rate</th>
            <th scope="col">Comment</th>
          </tr>
        </thead>
        <tbody>
          {% for comments in comments %}
            <tr>
              <th scope="row">{{ comments.user_id.username }}</th>
              <td>{{ comments.RATE }}</td>
              <td>{{ comments.COMMENT }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if request.user.is_authenticated %}
        {% if not comments %}
          Your course has not been rated yet!
        {% endif %}  
      {% endif %} 
    </div>
  </div>
</div>
<script>
  function displayForm() {
    var form = document.getElementById('form');
    if (form.style.display === 'block') {
      form.style.display = 'none';
    } else {
      form.style.display = 'block';
    }
  }
</script>

<h2>Teaching Units:</h2>
{% for unit in teaching_units %}
    <h3>{{ unit.NAME }}</h3>
    {{ unit.DESCRIPTION }}
    <form action="addmaterial" method="POST"> 
      {% csrf_token %}
      <input type="hidden" name="id_unit" value="{{ unit.ID_TEACHINGUNIT }}">
      <button type="submit" class="btn btn-success">Add Material</button>
    </form>
    <p>
    {% for material in materials %}
      <!--{{ material.EXPLANATION }}
      {{ material.ID_TEACHINGUNIT.ID_TEACHINGUNIT }}
      {{ unit.ID_TEACHINGUNIT }}-->
        {% if material.ID_TEACHINGUNIT.ID_TEACHINGUNIT == unit.ID_TEACHINGUNIT %}
          <h4>{{ material.EXPLANATION }}</h4>
          <!--file type: {{ material.filetype }}-->
          {% if material.file_type == 'image/jpeg' %}
            <img src="{{material.MATERIAL.url}}" alt="file" height="300px">
          {% elif material.file_type == 'video/mp4' %}
            <video src="{{material.MATERIAL.url}}" controls height="300px"></video>
          {% elif material.file_type == 'text/plain' %}
            <a href="{% url 'textfile' file_path=material.MATERIAL.path %}">View Text File</a>
          {% else %}
            <a href="{{material.MATERIAL.url}}">Download file</a>
          {% endif %}
        {% endif %}
    {% endfor %}
    </p>
{% endfor %}

<form action="addunit" method="POST"> 
    {% csrf_token %}
    <!--<input type="hidden" name="ID_COURSE" value="{{ course.ID_COURSE }}">-->
    <button type="submit" class="btn btn-success">Add Unit</button>
</form>

{% endblock %}